
<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :text %>
    <%= f.file_field :image, class: 'form-control', direct_upload: true  %>
  </div>
 
  <div class="field">
  <%= hidden_field_tag "article[category_ids][]", nil %>
  <% Category.all.each do |category| %>
    <%= check_box_tag "article[category_ids][]", category.id, @article.category_ids.include?(category.id), id: dom_id(category) %>
    <%= label_tag dom_id(category), category.name %><br>
  <% end %>
</div>

       <div class="form-actions">
    <%= f.button :submit %>
  </div>

      <% end %>

