
<%= simple_form_for(@proyect) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :framework %>
    <%= f.association :language %>
    <%= f.association :skill %>
    <%= f.input :other %>
    <%= f.input :imageurl %>
    <%= f.input :live_url %>
    <%= f.input :source_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
