<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @proyect.name %>
</p>

<p>
  <strong>Framework:</strong>
  <%= @proyect.framework_id %>
</p>

<p>
  <strong>Language:</strong>
  <%= @proyect.language_id %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @proyect.skill_id %>
</p>

<p>
  <strong>Other:</strong>
  <%= @proyect.other %>
</p>

<p>
  <strong>Imageurl:</strong>
  <%= @proyect.imageurl %>
</p>

<p>
  <strong>Live url:</strong>
  <%= @proyect.live_url %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @proyect.source_url %>
</p>

<%= link_to 'Edit', edit_proyect_path(@proyect) %> |
<%= link_to 'Back', proyects_path %>
