
<% @articles_cat.each do |article|%>
  <ul>
  <% if !article.image.nil? %>
  <img src="<%= cloudinary_url(article.image.key, options = {}) %>">
  <% end %>
    <%= article.title %>
    <%= article.text %>
    <%= article.user.name %>
    <% category = @category %>
    
    <div> <%= vote_unvote_btn(article, @category.id) %>
      <%= article.votes.count %>
      </div>
</ul>
<% end %>