
<% @articles_cat.each do |article|%>
  <ul>
    <img src="#{<%= article.image_url%>}">
    <%= article.title %>
    <%= article.text %>
    
    <div> <%= vote_unvote_btn(article) %>
      <%= article.votes.count %>
      </div>
</ul>
<% end %>