<!DOCTYPE html>
<html>
  <head>
    <title>GameStyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href=".app/assets/stylesheets/reset.css.scss" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= render "syte/header" %>
   
     <main class="main">
     <%= user_wellcome() %>

    <%= yield %>
</main>
 <%= render "syte/footer" %>

 <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </body>
</html>