<!DOCTYPE html>
<html>
  <head>
    <title>GameStyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href=".app/assets/stylesheets/reset.css.scss" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="nav">
   <div class"logo"> </div>
   <%= render "syte/header" %>
   
   <div class="user_nav">
   <div class="cl-at">
  <% if current_user %>
 
    <%= link_to "Write new article #{current_user.username}", new_article_path%> <div> | <div>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </div>
  <% else %>
    <%= link_to 'Log in', user_session_path %> <div> | <div>
    <%= link_to 'Register', new_user_registration_path %>
  </div>
  <% end %>
  </div>
</nav>
<% if notice.present? %>
  <div class="notice">
    <p> <%= notice %> </p>
  </div>
<% end %>
<% if alert.present? %>
  <div class="alert">
    <p> <%= alert %> </p>
  </div>
<% end %>
<main class="main">
<% if current_user.nil? %>
    <h1> Hello <h1>
<% else %>
    <h1 class="cl-og"> Hello <%= current_user.username %></h1>
<% end %>
    <%= yield %>

<footer>
<div class="footer">
<div> <img src="../app/assets/images/default.jpeg"> </div>
<div> <p class="cl-og">Privacy Policy Terms & Conditions <span class="cl-lg">Copyright 2021. All rights reserved.</span></p> </div>
<div> Contact with us:
<span class="iconify cl-og" data-icon="ant-design:twitter-circle-filled" data-inline="false"></span> 
<span class="iconify cl-og radius" data-icon="fa-brands:instagram-square" data-inline="false"></span>
<span class="iconify cl-og" data-icon="entypo-social:facebook-with-circle" data-inline="false"></span>
</div>
</div>
</footer>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </body>
</html>
